a {
  display: inline-block;
}

ul,
li,
ol {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1,
p {
  font-size: 16px !important;
  line-height: 1.5 !important;
  margin: 0 !important;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}
