@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  background-color: #28085c;
}

.text-black {
  color: #000000 !important;
}

.share {
  .share-swiper {
    .swiper-wrapper {
      margin-bottom: 0;
      height: 416px;
    }

    @include desk {
    }
  }
  .swiper-scrollbar {
    background: rgba(255, 255, 255, 0.2);
  }
  .swiper-scrollbar-drag {
    background: #ffffff !important;
  }
  .share-scroll {
    margin-bottom: 124px;
  }
}

.share {
  &-card {
    padding: 40px;
    background-color: #380c7e;
    color: #ffffff;
    min-height: 351px;
  }
}
