<nav class="navbar navbar-expand-lg bg-primary py-3 py-lg-5 border-bottom-1 ">
  <div class="container">
    <h1 class="fs-4"><a class="text-white" href="index.html">ALPHABOX+</a></h1>
    <button class="navbar-toggler toggler-color" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      
      <span class=" material-symbols-outlined  text-white">menu</span>
    </button>
    <div class="collapse navbar-collapse text-white noto-tc-sans py-7 py-lg-0 justify-content-between" id="navbarNav">
      <ul class="ms-lg-11 navbar-cotent d-lg-flex text-center col-lg-8 justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="product-diane.html">產品</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">關於我們</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="news.html">最新消息</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="faq.html" >FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="contact-us.html" >聯絡我們</a>
        </li>

      </ul>
      <ul class="nav-register d-lg-flex text-center align-items-center ">
        <li class="nav-item ">
          <a class="nav-link " href="sign-up.html" >註冊</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="login.html" >登入</a>
          
        </li>
        <li class="nav-item">
        <button class="white-button">
        <i class="material-symbols-outlined align-bottom">point_scan</i>
          訂閱
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>