.about-banner-title {
  @include desk {
    padding-top: 240px;
    padding-bottom: 156px;
  }
  padding-top: 140px;
  padding-bottom: 80px;
}

.about-banner-content {
  @include desk {
    padding-top: 40px;
    padding-bottom: 160px;
  }
  padding-top: 24px;
  padding-bottom: 60px;
}

