.product-intro {
  @include desk {
    padding-top: 80px;
    padding-bottom: 120px;
  }
  padding-top: 60px;
  padding-bottom: 80px;
}

.product-page-feedback {
  @include desk {
    padding-top: 160px;
    padding-bottom: 216px;
  }
  padding-top: 60px;
  padding-bottom: 80px;

  ul {
    row-gap: 24px;
  }
}
