<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  </head>
  <body class="">
    <%- include('./layout/navbar'); -%>

    <section class="banner container-fluid">
      <div
        class="banner-content d-lg-flex flex-row-reverse noto-tc-sans align-items-lg-stretch justify-content-between align-items-center"
      >
        <div class="banner-content-title d-flex flex-column">
          <h2 class="text-white border-top pt-1 pb-8 pb-lg-0">
            ALPHABOX+ STUDIO
          </h2>
          <p class="d-none d-lg-flex text-purple-light-2 mt-auto">
            Copyright © 2023 Hexschool.
          </p>
        </div>

        <img src="../assets/images/circle.png" alt="circular-text" />
        <div
          class="d-none banner-content-news d-lg-flex flex-column align-self-lg-end"
        >
          <a href="#"
            ><h2 class="text-white border-bottom pb-1 purple-light-2">
              最新消息！新版本 v15.4 釋出，搶先體驗！
            </h2></a
          >
        </div>
      </div>
      <div
        class="banner-img d-flex flex-collumn flex-lg-row justify-content-between align-items-end"
      >
        <a href="#" class=""
          ><img
            class="d-none d-lg-block"
            src="../assets/images/diane.png"
            alt="diana"
        /></a>
        <div class="banner-title banner-img-middle text-white text-center">
          <h2 class="fs-6">ALPHABOX+</h2>
          <p>擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
          <div
            class="banner-img-middle-pics d-flex flex-column flex-lg-row justify-content-between pt-lg-7 pt-8 gap-5"
          >
            <a href="#" class="d-lg-none"
              ><img
                class="d-lg-none"
                src="../assets/images/diane_square1.png"
                alt="diana"
            /></a>
            <a href="#" class="">
              <img
                class="d-lg-none"
                src="../assets/images/felix_square1.png"
                alt="felix" /><img
                class="d-none d-lg-block"
                src="../assets/images/felix.png"
                alt="felix"
            /></a>
            <a href="#" class=""
              ><img
                class="d-lg-none"
                src="../assets/images/karina_square1.png"
                alt="karina" /><img
                class="d-none d-lg-block"
                src="../assets/images/karina.png"
                alt="karina"
            /></a>
            <a href="#" class="d-lg-none">
              <img
                class="d-lg-none"
                src="../assets/images/vito_square1.png"
                alt="vito"
            /></a>
          </div>
        </div>
        <a href="#" class=""
          ><img
            class="d-none d-lg-block"
            src="../assets/images/vito.png"
            alt="vito"
        /></a>
      </div>
    </section>
    <section class="carousel ">
      <div class="carousel-background">
      <div class="carousel-main">
      <div class="carousel-content container-fluid position-relative">
        <div class="gradient-line-1 pt-10"></div>
        <h3 class="pt-5 pt-lg-10 fw-bold fs-5 fs-lg-3 pb-5 text-white noto-tc-sans">
          什麼是 <br />
          ALPHABOX+
        </h3>
      </div> 
        <div class="carousel-pic d-flex justify-content-between container-fluid position-relative align-items-center">
          <img src="../assets/images/line_start_arrow_notch.png " class=" d-none d-lg-block col-1" alt="arrow">
          <img
            class="main-pic img-fluid col-10 d-none d-lg-block "
            src="../assets/images/carousel.png"
            alt="carousel1"
          />

          <img
            class=" img-fluid col-12 pt-5 pb-8 d-lg-none mx-auto "
            src="../assets/images/carousel_mobile.png"
            alt="carousel1"
          />

          <img src="../assets/images/line_end_arrow_notch.png" class="d-none d-lg-block  col-1" alt="arrow">
          
        </div>
        <div class=" position-relative container-fluid">
        <div class="gradient-line-2 pt-10 w-100 "></div>
        </div>
        
        
      
      
      </div>
      
    </section>
    <section class="news gradient-radical text-white noto-tc-sans container-fluid">
      <h3 class="fw-bold fs-8 fs-lg-3 mb-lg-10 mb-8  mx-lg-0 ">最新消息</h3>
      <ul class="row">
        <li class="col-12 px-5 py-8 py-lg-10 border-top  ">
          <p class="pb-2">2023.06.30</p>
          <h4 class="fs-6 pb-3" >產品升級公告</h4>
          <p>榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！</p>
        </li>
        <li class=" col-12 col-lg-6 px-5 py-8 py-lg-10 border-top border-lg-bottom"><p class="pb-2">2023.06.30</p>
          <h4 class="fs-6 pb-3" >產品升級公告</h4>
          <p>榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！</p>
        </li>
        <li class="col-12 col-lg-6 px-5 py-8 py-lg-10 border-lg-left border-top border-bottom"><p class="pb-2">2023.06.30</p>
          <h4 class="fs-6 pb-3" >產品升級公告</h4>
          <p>榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！</p>
        </li>
      </ul>
      <div class="more-link d-flex mx-auto mt-10">
        <a href="#" class="w-100  text-center text-white py-12">查看更多</a>
        
      </div>
      <p class=" d-none d-lg-block text-end"> 為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料</p>
    </section>
    <section class="feedback pt-13 pb-14 pt-lg-16 pb-lg-13 gradient-radical-2 overflow-hidden ">
      <div class="container-fluid ">
      <div class="col-lg-9 feedback-title fw-bold text-white d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-center">
        <h3 class=" fs-8 fs-lg-3 mb-lg-10 mb-5  ">使用分享</h3>
        <span class="mb-7 d-block d-lg-none">01-04</span>
        <p class="mb-7 mb-lg-0">展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
      </div>
      <span class="mb-lg-10 d-none d-lg-block text-white">01-04</span>
      <span class=" d-block material-symbols-outlined text-white fs-2 mb-lg-7">
        emergency
        </span>
      </div>
        <div class="noto-tc-sans container-fluid mb-lg-136">
          <!-- share swiper -->
          <div class="swiper share-swiper d-md-block  vw-lg-100 mb-5  ">
            <ul class="swiper-wrapper list-unstyled flex-column justify-content-between flex-md-row flex-wrap flex-lg-nowrap  ">
              <li class="swiper-slide col-12 col-md-6 col-lg-4">
                <div class="share-card h-100 d-flex flex-column">
                  <div class="flex-grow-1">
                    <span class="d-inline-block mb-4">Zona<i class="material-icons mx-2 fs-7">circle</i>Taipei</span>
                    <p>
                      ALPHABOX+
                      真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                    </p>
                  </div>
                  <p class="d-flex align-items-center">
                    <i class="material-icons fs-6 me-4">circle</i><i class="material-icons fs-6 me-4">circle</i>
                    ALPHABOX+ Dianne
                  </p>
                </div>
              </li>
              <li class="swiper-slide col-12 col-md-6 col-lg-4">
                <div class="share-card h-100 p-10 d-flex flex-column bg-white text-black">
                  <div class="flex-grow-1">
                    <span class="d-inline-block mb-4">Lin<i class="material-icons fs-7 mx-2">circle</i>Chiayi</span>
                    <p>
                      非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。
                    </p>
                  </div>
                  <p class="d-flex align-items-center">
                    <i class="material-icons fs-6 me-4">circle</i><i class="material-icons fs-6 me-4">circle</i>
                    ALPHABOX+ Felix
                  </p>
                </div>
              </li>
              <li class="swiper-slide col-12 col-md-6 col-lg-4">
                <div class="share-card h-100 p-10 d-flex flex-column">
                  <div class="flex-grow-1">
                    <span class="d-inline-block mb-4">云<i class="material-icons fs-7 mx-2">circle</i>Taipei</span>
                    <p>
                      我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見
                      ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！
                    </p>
                  </div>
                  <p class="d-flex align-items-center">
                    <i class="material-icons fs-6 me-4">circle</i><i class="material-icons fs-6 me-4">circle</i>
                    ALPHABOX+ Dianne
                  </p>
                </div>
              </li>
              <li class="swiper-slide col-12 col-md-6 col-lg-4">
                <div class="share-card h-100 p-10 d-flex flex-column bg-white text-black">
                  <div class="flex-grow-1">
                    <span class="d-inline-block mb-4">Zichi<i class="material-icons fs-7 mx-2">circle</i>Kaohsiung</span>
                    <p>
                      讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！
                    </p>
                  </div>
                  <p class="d-flex align-items-center">
                    <i class="material-icons fs-6 me-4">circle</i><i class="material-icons fs-6 me-4">circle</i>
                    ALPHABOX+ Vito
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="row share-scroll align-items-center">
            <div class="col-8">
              <div class="swiper-scrollbar position-static"></div>
            </div>
            <div class="col-4 d-flex align-items-center">
              <p class="text-white mb-0">SCROLL</p>
            </div>
          </div>
        </div>
        <p class="text-white fw-bold container-fluid">若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。</p>
     
     
     <script>
      const swiperSahre = new Swiper(".share-swiper", {
  spaceBetween: 24,
  // 滑鼠中鍵滾輪可滑動
  mousewheel: true,
  scrollbar: {
    el: ".swiper-scrollbar",
    draggable: true
  },
  slidesPerView: "auto",
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev"
  }
});

     </script>

    </section>


    <section class="contact  bg-purple-dark ">
      <div class="container-fluid text-white justify-content-lg-between d-flex flex-lg-row flex-column">
        <div class="contact-text col-lg-5">
          <h3 class="fs-8 fs-lg-3 mb-lg-10 mb-5">聯絡我們</h3>
          <p>讓科技成為您的最佳夥伴</p>
          <p>立即體驗神奇功能並享限時優惠！</p>
        </div>
        <div class="contact-form col-lg-7">
          <span class=" d-block material-symbols-outlined text-white fs-2 mb-lg-7">
            emergency
            </span>
            <form action="#">
              <div class="form-floating mb-4">
                <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="name@example.com">
                <label for="inputEmail" class="text-black noto-tc-sans ">EMAIL</label>
              </div>
              <div class="form-floating mb-4">
                <textarea class="form-control" placeholder="Leave a comment here" id="inputComment" name="inputComment"></textarea>
                <label for="inputComment" class="text-black noto-tc-sans">COMMENTS</label>
              </div>
              <button type="submit" class="btn btn-primary col-12 col-lg-6 d-block ms-auto py-2">
                <i class="material-symbols-outlined align-bottom me-1">point_scan</i>訂閱</button>
            </form>
        </div>

        

      </div>
        
    </section>
    
    <section class="product">
      <ul class="row text-white">
        <li class="col-6 col-lg-3 ai-info position-relative">
          <img class="img-fluid" src=" https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/vito_vertical.png?raw=true" alt="VITO">
          <div class="aiintro-card-content position-absolute start-0 end-0 top-0 bottom-0 p-4 d-flex flex-column">
            <span class="number font-saira text-center">1</span>
            <p class="font-shrikhand text-center fs-3 mb-auto">Vito</p>
            <p class="fw-bold">知識型</p>
            <div class="d-flex">
              <p class="w-50 mb-0">學術領導/知識分享/智能問答</p>
              <!-- 延伸連結 -->
              <a href="#" class="w-50 stretched-link">
              </a>
            </div>
          </div>
        </li>
        <li class="col-6 col-lg-3 ai-info position-relative">
          <img class="img-fluid" src=" https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/vito_vertical.png?raw=true" alt="VITO">
          <div class="aiintro-card-content position-absolute start-0 end-0 top-0 bottom-0 p-4 d-flex flex-column">
            <span class="number font-saira text-center">1</span>
            <p class="font-shrikhand text-center fs-3 mb-auto">Vito</p>
            <p class="fw-bold">知識型</p>
            <div class="d-flex">
              <p class="w-50 mb-0">學術領導/知識分享/智能問答</p>
              <!-- 延伸連結 -->
              <a href="#" class="w-50 stretched-link">
              </a>
            </div>
          </div>
        </li>
        <li class="col-6 col-lg-3 ai-info position-relative">
          <img class="img-fluid" src=" https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/vito_vertical.png?raw=true" alt="VITO">
          <div class="aiintro-card-content position-absolute start-0 end-0 top-0 bottom-0 p-4 d-flex flex-column">
            <span class="number font-saira text-center">1</span>
            <p class="font-shrikhand text-center fs-3 mb-auto">Vito</p>
            <p class="fw-bold">知識型</p>
            <div class="d-flex">
              <p class="w-50 mb-0">學術領導/知識分享/智能問答</p>
              <!-- 延伸連結 -->
              <a href="#" class="w-50 stretched-link">
              </a>
            </div>
          </div>
        </li>
        <li class="col-6 col-lg-3 ai-info position-relative">
          <img class="img-fluid" src=" https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/vito_vertical.png?raw=true" alt="VITO">
          <div class="aiintro-card-content position-absolute start-0 end-0 top-0 bottom-0 p-4 d-flex flex-column">
            <span class="number font-saira text-center">1</span>
            <p class="font-shrikhand text-center fs-3 mb-auto">Vito</p>
            <p class="fw-bold">知識型</p>
            <div class="d-flex">
              <p class="w-50 mb-0">學術領導/知識分享/智能問答</p>
              <!-- 延伸連結 -->
              <a href="#" class="w-50 stretched-link">
              </a>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
