<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>最新消息</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  </head>
  <body class="">
    <%- include('./layout/navbar'); -%>
    <section class="gradient-radical text-white container-fluid first-news">
      <h2
        class="fs-8 fw-bolder fs-lg-3 mb-lg-8 mb-7 ls-40 ls-lg-48 text-lg-center text-start"
      >
        最新消息
      </h2>
      <ul class="news-list d-flex flex-column flew-lg-row gap-14">
        <li
          class="row d-flex flex-column flex-lg-row justify-content-lg-center align-items-lg-center position-relative"
        >
          <div class="d-flex col-lg-3 align-items-lg-center">
            <p class="saira fs-1 fs-lg-10 col-4">1</p>
            <img
              class="col-8"
              src="../assets/images/news/news.png"
              alt="news"
            />
          </div>
          <div class="col-lg-6 noto-tc-sans px-lg-5 py-lg-10">
            <div class="d-flex">
              <i class="material-symbols-outlined fs-5">emergency</i>
              <p>2023.06.30</p>
            </div>

            <h3 class="fs-6">產品升級公告</h3>
            <p>
              榮幸地宣布，ALPHABOX+
              已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！
            </p>
          </div>
          <a href="#" class="col-lg-1 align-self-end text-white"
            ><i class="material-icons arrow fs-8">arrow_forward</i></a
          >
        </li>
        <li
          class="row d-flex flex-column flex-lg-row justify-content-lg-center align-items-lg-center position-relative"
        >
          <div class="d-flex col-lg-3 align-items-lg-center">
            <p class="saira fs-1 fs-lg-10 col-4">1</p>
            <img
              class="col-8"
              src="../assets/images/news/news.png"
              alt="news"
            />
          </div>
          <div class="col-lg-6 noto-tc-sans px-lg-5 py-lg-10">
            <div class="d-flex">
              <i class="material-symbols-outlined fs-5">emergency</i>
              <p>2023.06.30</p>
            </div>

            <h3 class="fs-6">產品升級公告</h3>
            <p>
              榮幸地宣布，ALPHABOX+
              已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！
            </p>
          </div>
          <a href="#" class="col-lg-1 align-self-end text-white"
            ><i class="material-icons arrow fs-8">arrow_forward</i></a
          >
        </li>
        <li
          class="row d-flex flex-column flex-lg-row justify-content-lg-center align-items-lg-center position-relative"
        >
          <div class="d-flex col-lg-3 align-items-lg-center">
            <p class="saira fs-1 fs-lg-10 col-4">1</p>
            <img
              class="col-8"
              src="../assets/images/news/news.png"
              alt="news"
            />
          </div>
          <div class="col-lg-6 noto-tc-sans px-lg-5 py-lg-10">
            <div class="d-flex">
              <i class="material-symbols-outlined fs-5">emergency</i>
              <p>2023.06.30</p>
            </div>

            <h3 class="fs-6">產品升級公告</h3>
            <p>
              榮幸地宣布，ALPHABOX+
              已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！
            </p>
          </div>
          <a href="#" class="col-lg-1 align-self-end text-white"
            ><i class="material-icons arrow fs-8">arrow_forward</i></a
          >
        </li>
        <li
          class="row d-flex flex-column flex-lg-row justify-content-lg-center align-items-lg-center position-relative"
        >
          <div class="d-flex col-lg-3 align-items-lg-center">
            <p class="saira fs-1 fs-lg-10 col-4">1</p>
            <img
              class="col-8"
              src="../assets/images/news/news.png"
              alt="news"
            />
          </div>
          <div class="col-lg-6 noto-tc-sans px-lg-5 py-lg-10">
            <div class="d-flex">
              <i class="material-symbols-outlined fs-5">emergency</i>
              <p>2023.06.30</p>
            </div>

            <h3 class="fs-6">產品升級公告</h3>
            <p>
              榮幸地宣布，ALPHABOX+
              已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！
            </p>
          </div>
          <a href="#" class="col-lg-1 align-self-end text-white"
            ><i class="material-icons arrow fs-8">arrow_forward</i></a
          >
        </li>
        <li
          class="row d-flex flex-column flex-lg-row justify-content-lg-center align-items-lg-center position-relative"
        >
          <div class="d-flex col-lg-3 align-items-lg-center">
            <p class="saira fs-1 fs-lg-10 col-4">1</p>
            <img
              class="col-8"
              src="../assets/images/news/news.png"
              alt="news"
            />
          </div>
          <div class="col-lg-6 noto-tc-sans px-lg-5 py-lg-10">
            <div class="d-flex">
              <i class="material-symbols-outlined fs-5">emergency</i>
              <p>2023.06.30</p>
            </div>

            <h3 class="fs-6">產品升級公告</h3>
            <p>
              榮幸地宣布，ALPHABOX+
              已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！
            </p>
          </div>
          <a href="#" class="col-lg-1 align-self-end text-white"
            ><i class="material-icons arrow fs-8">arrow_forward</i></a
          >
        </li>
      </ul>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
